body{
  
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-image: url('/img/bg.jpg')
    
}
.logo{
    padding-top: 3%;
    padding-left: 3%;
    width:150px;
    
}


/* CONTAINER PRINCIPALE, TITOLI */

.container{
    
        margin-left:auto;
        margin-right:auto;
        width:970px;  
        height: auto;

}


h1, h2, h3{
    font-family:'Outfit', sans-serif;
    text-align: center;
    color: white;
}


h1{
    font-size:60px;
    line-height: 0.5;
    
}

.sottotitolo{
    color: rgba(255, 255, 255, 0.799);
    font-size: 25px;
    font-weight: 200;
    line-height: 0;
    padding-bottom: 30px;
}

h3{
    font-size: 60px;
    font-weight: 200;
}





/*####### CODICE SPECIFICO PER LA PAGINA RESULTS.HTML ######*/

#percentageGiuste, #percentageWrong{
    color: white;
    font-size: 50px;
    font-weight: 600;
    font-family:'Outfit', sans-serif;
    margin-top: -65px;
}

#questions, #questions2{
    color: rgba(255, 255, 255, 0.711);
    font-family:'Outfit', sans-serif;
    font-size: 20px;
    margin-top: -50px;
}


/* BLOCCHI PERCENTUALI (1,2,3) */

#block1{
    text-align: center;
    float: left;
    width:300px;
    height: 360px;
    padding-top: 60px;
    
}
.block2{
    text-align: center;
    float: left;
    width:360px;
    height: 350px;
   
}
#block3{
    text-align: center;
    float: left;
    width: 300px;
    height: 360px;
    padding-top: 60px;
}
 
                                
/* CERCHIO SVG */

#circle {
  width: 100%;
  height: 100%;
  transform: rotate(50deg);
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.667));
}

#circle-text {
  position: absolute;
  top: -16em;
  left: 0.05em;
  right: 0;
  font-family: 'Inter', sans-serif;
  margin-left: 80px ;
  margin-right: 80px ;
   
}

/* TESTO DENTRO CERCHIO */

.innerText{
    font-size: 18px;
    line-height: 0;
    font-weight: 500;
    color: white;
}

#innerText2{
    color: #00ffffdc;
    text-shadow: 2px 2px black;
}

.innerDescription{
    
    padding-top: 15px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.666);

}

#innerDescription2{
    margin-top: -25px;
}

/* BUTTON RATE-US */

.divRateus{
    text-align: center;
    padding-bottom: 55px; 
    
}

.button{

     width: 200px;
     height: 55px;
     border: 2px solid  white;
     background: transparent;
     font-size: 20px;
     font-family: 'Outfit', sans-serif;
     font-weight: 600;
     color: white;
     box-shadow: 1px 1px 50px 5px rgb(43, 22, 128);
     transition-duration: 0.4s;
}

.button:hover{
    background-color: rgba(245, 245, 245, 0.282);
    opacity: 0.6;
    cursor: pointer;
}



/*###### FINE CODICE RESULTS.HTML ########*/