@import "variables";

/*++++ extend ++++
.box {
    border: 1px solid #000;
    background-color: green;
    margin-bottom: 10px;
    width: 200px
}
.mybox {
    @extend .box;
    font-size: 10px;
}

/*++++ keyword % ++++
%box2 {
    border: 1px solid #000;
    background-color: blue;
    width: 300px;
    margin: 10px;
    padding: 20px;
}

.myfirstbox {
    @extend %box2;
    font-size: 10px;
}

.mysecondbox {
    @extend %box2;
    font-size: 20px;
}*/



/*INZIO*/

body {
    font-family: 'Montserrat';
    margin: 0;
    height: 100vh;
  
  }

nav {
    border: 2px solid yellow;
    border-radius: 20px;
    background-color: rgb(1, 1, 102);
    display: flex;
    flex-direction: row;
    height: 10%;

    .menu_lista {
        list-style: $List_Item_Display;
        font-size: 1.5em;
    }
      .menu_lista li {
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
    
    }
      
    .menu_lista a{
        text-decoration: none;
        color: white;
      
    }
}




@mixin homebutton($bgColor){

    width: 10%;
    padding: 10px 20px;

    background: $bgColor;
    
    color: white;
    border: 1px solid white;
    
    &:hover{
        color: $bgColor;
        background: white;
        box-shadow: 0 0 1px black;      
    }
}

button {
    @include homebutton (orange);
}


main {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: center;
    height: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 114px;
}




form.form-example {
    display: table;

}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}


aside {
    width: 10%;
    list-style: none;
}

.aside_lista li {
    
vertical-align: middle;
padding: 10px;
color: gray;
font-size: 1.2em;
list-style: $List_Item_Display;
border-bottom: 1px solid gray;
margin-right: 20px;

    &:hover {
        color: black;
        background-color: $bg_Color_Item;
        }
}


footer {
height: 15%;
background-color: cornflowerblue;
}